.App {
  text-align: center;
}


.Pokemon-card {
  background-color: #f8f8f8;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  margin: 10px;
  width: 250px;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.Pokemon-card img {
  width: 250px;
  height: 250px; 
  object-fit: cover;
  display: block;
  margin: 8px 0;
}


.App-header img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}


.button {
  background-color: #4CAF50; 
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-items: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}